/* footer */
.footer h2 {
    font-family: 'Raleway', 'Raleway Fallback', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: #ffffff;
}

.footer p {
    font-family: 'Quicksand', 'Quicksand Fallback', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.footer {
    display: flex;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    position: relative;
}

.footerText {
    display: flex;
    z-index: 1;
    object-fit: cover;
    width: 100%;
    position: relative;
    text-align: center;

}

.footerTextL {
    display: flex;
    flex-direction: column;
    ;
    text-wrap: wrap;
    flex: 1;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 100px;
    margin-bottom: 20px;
}

.footerTextC {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    flex: 1;
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.footerTextC .orarioL {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    text-wrap: wrap;
}

.footerTextC .orarioR {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    text-wrap: wrap;
}

.footerTextR {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    flex: 1;
    position: absolute;
    left: 75%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.footer2 {
    display: flex;
    background-color: #d5abc2;
    text-align: center;
}

.footer2 p {
    font-family: 'Quicksand', 'Quicksand Fallback', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-align: center;
    margin-left: 50%;
}

.orario {
    display: flex;
    margin-left: 20px;
    text-wrap: wrap;
    justify-content: center;
    text-align: center;

}

.orarioL {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    text-wrap: wrap;
}

.orarioR {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    text-wrap: wrap;
}


/* mediaquery per footer */
@media (max-width: 768px) {
    .footer h2 {
        font-size: 24px;
        line-height: 36px;
        color: #000000;
    }

    .footer p,
    .footer2 p {
        font-size: 14px;
        line-height: 20px;
        color: #000000;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footerText {
        flex-direction: column;
        position: static;
        transform: none;
        margin: 0 20px;
    }

    .footerTextL,
    .footerTextC,
    .footerTextR {
        position: static;
        transform: none;
        margin: 20px 0;
        text-align: center;
    }

    .footer2 p {
        margin-left: 0;
    }
}