.root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/confirmOrder.png') no-repeat center center;
    background-size: cover;
    position: relative;
    min-height: 91vh;
}

.container{
    display: flex;
    width: 110vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 15vh;
    /*background-color: aliceblue;*/
}

.summary{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    flex-grow: 2;
    padding: 0 3vh;
}

.formContainer{
    display: flex;
    flex-direction: column;
    background-color: rgb(200, 241, 200);
    flex-grow: 1;
}

.form{
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    padding: 0 4vh 2vh 4vh;
}

.label{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

.label textarea{
    max-height: 25vh;
    max-width: 30vh;
    min-height: 6vh;
    border-radius: 15px;
    padding: 1vh;
    border: 2px solid rgb(213, 171, 194);
    background-color: aliceblue;
}

.label textarea:focus{
    outline: none;
    border: 2px solid rgb(199, 193, 220);
}

.label input, .label select{
    border: none;
    padding-left: 1vh;
    border-bottom: 2px solid rgb(213, 171, 194);
    width: 30vh;
    height: 3.5vh;
    background-color: aliceblue;
}

.label input:focus, .label select:focus{
    outline: none;
    border: 2px solid rgb(199, 193, 220);
}

.title{
    text-align: center;
}

.btn{
    all: unset;
    text-align: center;
    padding: 10px 15px;
    background-color: rgb(213, 171, 194);
    border-radius: 25px;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn:hover{
    background-color: rgb(199, 193, 220);
    transition: .4s;
}

.listItem{
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    padding: 0;
}

.popup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* sfondo semi-trasparente */
    z-index: 9999;
}

.popupContent {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    width: 60vw;
    max-width: 500px;
}

.closeBtn {
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: rgb(213, 171, 194);
    border-radius: 25px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.closeBtn:hover {
    background-color: rgb(199, 193, 220);
    transition: .4s;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 50vw;
    }
    .summary, .formContainer {
        padding: 2vh;
    }

    .formContainer{
        align-items: center;
        text-align: center;
    }

    .label textarea, .label input, .label select {
        max-width: 22vh;
    }

    .mainTitle{
        font-size: 30px;
    }
}