/* General Footer Styles */
.footerBottom {
    background-color: #d5abc2;
    width: 100%;
    text-align: center;
    padding: 8px 0; /* Reduced padding */
}

.footerBottom p {
    font-family: 'Quicksand', 'Quicksand Fallback', sans-serif;
    font-size: 14px;
    color: #000000;
    margin: 0; /* Removed extra margin */
}

