/* bottone */
.callButton {
    padding: 10px 20px;
    background-color: #f3bc9f;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    margin-top: 20px;
}

.callButton a {
    text-decoration: none;
    color: inherit;
}

.callButton:hover {
    background-color: #ffd1ba;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
}

.text p {
    width: 900px;
}

/* form */
.formInformazioni {
    display: flex;
    align-items: flex-start;
    border: 2px solid #ffd1ba;
}

.imgBoutique {
    width: 760px;
    height: 920px;
}

.informazioni {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
    border: 2px solid #ffd1ba;

}

.form {
    display: flex;
    flex-direction: column;
}

.form p {
    margin-bottom: 10px;
    font-family: 'Quicksand', 'Quicksand Fallback', sans-serif;
    font-size: 14px;
    color: #000;
}

.form label {
    margin-top: 10px;
    font-family: 'Quicksand', 'Quicksand Fallback', sans-serif;
    font-size: 14px;
    color: #000;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-bottom: 2px solid #f3bc9f;
    background-color: transparent;
    font-family: 'Quicksand', 'Quicksand Fallback', sans-serif;
    font-size: 14px;
    color: #000;
    outline: none;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
    border-bottom: 2px solid #f3bc9f;
    /* Colore beige scuro */
}

.form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f3bc9f;
    /* Colore beige */
    border: none;
    color: #fff;
    font-family: 'Quicksand', 'Quicksand Fallback', sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button:hover {
    background-color: #ffd1ba;
}


/* social */
.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.titoloSocial {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.cardContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    /* Larghezza massima del contenitore delle card */
}

.cardSocial {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: #000 0px 0px 10px;
    height: 317px;
    width: 470px;
    margin: 0 10px;
    /* Margine tra le card */
}

.cardSocial:hover {
    /* Aggiungi qui gli stili desiderati per l'hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.svg {
    width: 44px;
    height: 44px;
}

/* mappa */
.mappa {
    margin-top: 20px;
    width: 100%;
}

/* Media query per schermi piccoli (smartphone) */
@media (max-width: 600px) {
    .text {
        margin-left: 20px;
        margin-right: 20px;
    }

    .text p {
        width: 100%;
    }

    .imgBoutique {
        width: 100%;
        height: auto;
    }

    .informazioni {
        margin-top: 50px;
    }

    .cardContainer {
        flex-direction: column;
        align-items: center;
    }

    .cardSocial {
        width: 100%;
        margin: 10px 0;
    }
}

/* Media query per schermi medi (tablet) */
@media (min-width: 601px) and (max-width: 1024px) {
    .text {
        margin-left: 50px;
        margin-right: 50px;
    }

    .text p {
        width: 100%;
    }

    .imgBoutique {
        width: 100%;
        height: auto;
    }

    .informazioni {
        margin-top: 100px;
    }

    .cardContainer {
        flex-direction: column;
        align-items: center;
    }

    .cardSocial {
        width: 80%;
        margin: 10px 0;
    }
}


/* Media query per dispositivi mobili */
@media (max-width: 600px) {
    .formInformazioni {
        flex-direction: column;
        align-items: center;
    }

    .imgBoutique {
        width: 100%;
        height: auto;
    }

    .informazioni {
        margin-top: 50px;
        width: 100%;
    }

    .form input[type="text"],
    .form input[type="email"],
    .form textarea {
        width: 100%;
    }

    .form button {
        width: 100%;
    }
}


/* Media query per schermi medi (tablet) */
@media (min-width: 601px) and (max-width: 1024px) {
    .formInformazioni {
        flex-direction: column;
        align-items: center;
    }

    .imgBoutique {
        width: 100%;
        height: auto;
    }

    .informazioni {
        margin-top: 100px;
        width: 100%;
    }

    .form input[type="text"],
    .form input[type="email"],
    .form textarea {
        width: 100%;
    }

    .form button {
        width: 100%;
    }
}